.carousel-caption {
    // left: 2% !important;
    // top: 10% !important;
    right: 70% !important;
    text-align: initial;
}

.font {
    font-weight: bolder;
}

.text-b {
color: black
}

.border {
    border: 2px solid black !important;
    // position: absolute;
    // right: 70%;
}