<ngb-carousel>
    <ng-container *ngFor="let item of sliderData">
        <ng-template ngbSlide>
            <div>
                <div class="carousel-caption col-md-6">
                    <h4 class="text-b">{{item.title | uppercase}}</h4>
                    <h1 class="default-color font">{{item?.sort_description | uppercase}}</h1>
                    <p class="text-b">{{item?.description | uppercase}}</p>
                    <div>
                        <button class="border">SHOP NOW <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </div>
                <img src="{{item.img}}" alt="Random first slide" class="float-right">
            </div>
        </ng-template>
    </ng-container>
</ngb-carousel>