<div class="col-md-12">
    <div class="header">
        <div class="header-sub">
            <div class="row">
                <button class="btn btn-white ml-10">SHOP<span class="default-color">MAX</span></button>
                <div class="d-contents">
                    <input type="text" class="search ml-3" placeholder="Search for products, brands and more" />
                    <i class="fa fa-search custom-i" aria-hidden="true"></i>

                </div>
                <div class="ml-10 mr-10">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <label class="icon">LOGIN</label>
                </div>
                <div class="">
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                    <label class="icon">CART</label>
                </div>
            </div>
        </div>


    </div>
    <div class="header-dropdown">

        <div class="dropdown ml-3" *ngFor="let item of this.menuList">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{item.name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <ng-container *ngFor="let child of item?.children">

                    <a class="dropdown-item" (click)="fetchDetails(item)">{{child?.c_name}}</a>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="custom">
            <app-carousel-basic [inputSliderData]="sliderDetails"></app-carousel-basic>
        </div>

    </div>
    <div class="col-md-12">
        <div class="row-line">
            <label class="mb-2 high-text"> {{this.currentItem.name}}</label>
            <button class="btn-style mb-2">VIEW MORE</button>
        </div>
        <div>
            <div class="row view-box" *ngFor="let item of this.currentItem.data">
                <div class="card">
                    <a target="_blank">
                        <img src={{item.img}} (click)="navigateToDetailsPage(item)">
                    </a>
                    <h5> {{ item?.category_name }}</h5>
                    <h6>
                        {{ item?.name }}
                    </h6>
                    <div class="mb-1">
                        <button class="btn btn-success">0<i class="fa fa-star ml-2" aria-hidden="true"></i></button>
                        <span class="ml-3">(0)</span>
                    </div>
                    <div>
                        <span class="default-color"> ${{item?.price}} </span><span><del>${{item?.price}}</del></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12 custom ml-0">
        <div class=" d-flex p-2">
            <ng-container *ngFor="let item of this.bannerData">
                <div class="banner">
                    <img src="{{item.bannerImg}}" width="98%" height="100%" class="mr-3" />
                    <div class="mt-n5 color-w ">
                        <span>{{item?.title}}</span>
                    </div>
                    <div class="mt-n1 color-w banner-text">
                        <span>{{item?.sort_description}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row-line">
            <label class="mb-2 high-text"> Top Offers</label>
            <button class="btn-style mb-2">VIEW MORE</button>
        </div>
        <div>
            <div class="row view-box" *ngFor="let item of this.offerDetails">
                <div class="card">
                    <a target="_blank">
                        <img src="../../assets/images/2.jpg" (click)="navigateToDetailsPage(item)">
                    </a>
                    <h5> {{ item?.category_name }}</h5>
                    <h6>
                        {{ item?.name }}
                    </h6>
                    <div class="mb-1">
                        <button class="btn btn-success">0<i class="fa fa-star ml-2" aria-hidden="true"></i></button>
                        <span class="ml-3">(0)</span>
                    </div>
                    <div>
                        <span class="default-color"> ${{item?.offer_price}}
                        </span><span><del>${{item?.price}}</del></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>