div.card {
    margin: 5px;
    float: left;
    width: 250px;
  }
  
  div.card:hover {
   cursor: pointer;
  }
  
  div.card img {
    width: 100%;
    height: 150px;
  }

  .view-box {
    display: inline-grid;
    margin: 5px;
  }
  
  h6 {
     width: 250px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  }

.banner-text {
    font-weight: bold;
    font-size: 18px;
}

.banner {
    width: 40%;
    height: 40%;
}

.color-w {
    color: white;
}

