/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css"

.header {
    width: 100%;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    background-color: mediumturquoise;
}

.default-color {
    color: mediumturquoise;
}

.btn-white {
    background-color: white;
    border: 1px solid black;
    // width: 10%;
}

.header-sub {
        max-width: 100%;
    // margin-left: 25%;
}
.header-dropdown {
     max-width: 100%;
    margin-left: 10%;
    display: flex;
}

.search {
        padding: 5px;
    width: 50%;
}

.d-contents {
    display: contents;
}

.custom-i {
margin-left: -25px;
    color: mediumturquoise;
margin-top: 12px;
}

.icon {
        position: absolute;
    font-weight: 600;
    margin: 3px;
}

.ml-10 {
        margin-left: 10%;
}

.mr-10 {
        margin-right: 5%;
}

.custom {
    background-color: #cccccc;
}

.row-line {
    display: flex;
    justify-content: space-between;
    // background-color: #666464;
    margin-top: 10px;
    border-bottom: 2px solid #DCDCDC;

}

.btn-style {
    border: 2px solid mediumturquoise;
    color: mediumturquoise;
    background-color: white;
}

.high-text {
    font-weight: bold;
    font-size: 18px;
}